/*container_header_primario*/
@media (max-width: 900px) {
    .container_header_primario {
        display: none;
    }
}
/*header_secundario*/
@media (max-width: 900px) {
    .ordem_lista {
        display: none;
    }
    .nav_row {
        height: 60px;
    }
    .GQMidias {
        font-size: 1.5rem;
    }
    .links_bar {
        width: 50%;
    }

}
/*container_apresentasao*/
@media (max-width: 900px) {
    .container_apresentasao {
        background: url(https://i.pinimg.com/564x/ed/ca/bf/edcabf0905036c70ff90c63b6a884578.jpg);
        height: 400px;
        background-size: cover;
        background-position: bottom;
        background-attachment: inherit;
    }
    .texto_apresentassao {
        height: 400px;
        padding-left: 0px;
        width: auto;
        float: inherit;
    }
    .titulo_apresentação {
        font-size: 1.3rem;
    }
    .textooapresen {
        font-size: 0.9rem;
    }
    .regras_apresentasao {
        display: none;
    }
    
}