* {
    border: 0;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
:root {
  --color-primaria: #0e0b13;
  --color-segundaria: #fff;
  --color-terceira: #5e17d6;
  --color-quarta: #54535399;
}
.load{
    position: absolute;
    width: 100%;
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0);
}
.loandig {
    display: none;
}
@keyframes rotate {
    to {
        transform: rotate(0.5turn);
    }
}
.dashed-loader {
    animation: rotate 8s infinite;
    width: 180px;
    --b: 16px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: linear-gradient(45deg, #3f1bd168, rgb(255, 255, 255));
}
.scrolltop {
    outline: none;
    border: 0;
    background: linear-gradient(41deg, blueviolet, rgb(17, 0, 255));
    width: 40px;
    height: 40px;
    padding: 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 10px;
    z-index: 999;
    cursor: pointer;
    transition: all 2s ease;
    right: 3.8px;
    opacity: 0;
    visibility: hidden;
}
.scrolltop.active {
    opacity: 1;
    visibility: visible;
}
 .scrolltop .seta {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    rotate: 0deg;
}
.scrollbottom {
    outline: none;
    bottom: 10px;
    z-index: 999;
    cursor: pointer;
    transition: all 2s ease;
    right: 16px;
    opacity: 0;
    visibility: hidden;
}
.scrollbottom.active {
    opacity: 1;
    visibility: visible;
}
