/*Menu Primario*/
.fale_conosco {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #000;
    height: 60px;
    color: #fff;
}
.icone_balao {
    display: flex;
    align-items: center;
    gap: 0.9rem;
}
#icone_balao {
    background: #54535399;
    padding-left: 50px;
    padding-right: 50px;
}
span {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    border-radius: 50%;
    background: #18b5b5;
    cursor: pointer;
    transition: all 0.5s;
}
span:hover{
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}
.link_redes {
    color: #fff;
}
/*Header secundario*/
.nav_row {
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;
}
.GQMidias {
    font-size: 2.5rem;
    background: linear-gradient(230deg, rgb(0, 179, 255), #a000f9, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
.GQ {
    transition: all 0.5s;
}
.GQ:hover {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}
.lista_header {
    list-style: none;
    display: flex;
    gap: 2rem;
    font-size: 1.1rem;
    align-items: center;
}
.mapeamento {
    cursor: pointer;
    transition: all 0.5s;
}
.ordem_lista :hover {
    -webkit-filter: drop-shadow(15px 10px 5px #28bcbc);
    filter: drop-shadow(15px 10px 5px #28bcbc);
} 
.Traduções {
    cursor: pointer;
    transition: all 0.5s;
}
.goole {
    width: 40px;
}
.navordem {
    display: flex;
    align-items: center;
}
/*Menu Tradução*/
#btnmenu {
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all 0.5s;
    width: 40px;
}
#btnmenu:hover {
    color: aqua;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
} 
#check {
    display: none;
}
.links_bar {
    position: fixed;
    width: 20%;
    height: 100%;
    background: #000;
    top: -16px;
    left: -1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    gap: 0.8rem;
    list-style: none;
}
.idiomas {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: all 0.5s;
}
.logo_menu {
    background: linear-gradient(230deg, rgb(0, 179, 255), #a608ff, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
.idiomas:hover{
    color: rgb(0, 179, 255);
}
#check:checked ~ .links_bar {
    left: 0;
}
.nav_bar_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding-top: 30px;
}
#icone_navbar {
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    transition: all 0.5s;
}
#icone_navbar:hover{
    color: rgb(0, 179, 255);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.nav_img {
    width: 150px;
    padding-bottom: 30px;
}
.menu_links {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background: linear-gradient(0deg, black, rgba(69, 66, 66, 0.76));
}
.nav_menu {
    padding: 1rem 4rem;
}
.gq_midias {
    font-size: 2rem;
    transition: all 0.5s;
    background: linear-gradient(230deg, rgb(0, 179, 255), #a608ff, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
.gq_midias :hover{
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}
.btnmenu01 :hover {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}
/*Apresentação*/
.container_apresentasao {
    background: url(https://i.pinimg.com/564x/5b/3f/6b/5b3f6b03c0746a9a71727f9c9bb28fde.jpg);
    height: 400px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.cor_apresentasao {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.675), transparent);
    height: 400px;
}
.texto_apresentassao {
    height: 467px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2rem;
    float: left;
    text-align: center;
    padding-left: 40px;
    width: 520px;
}
.titulo_apresentação {
    font-size: 2.2rem;
}
.cubo {
    height: 165px;
    width: 165px;
    background: rgb(55, 53, 53);
}
.regras_apresentasao {
    display: flex;
    width: auto;
    align-items: flex-end;
    justify-content: space-between;
}
.cubo_header {
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cupo_span {
    border: 1px solid rgb(255, 255, 255);
}
.cubo_foot {
    height: 92px;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    padding: 0px 0.5rem;
}

